services:

  bot:
    image: my_bonds_bot
    container_name: my_bonds_bot
    stop_signal: SIGINT
    build:
      context: .
    logging:
      options:
        max-file: "5"
        max-size: "3m"
    command: python3 -m app
    restart: unless-stopped
    ports:
       - "127.0.0.1:${OUTER_PORT}:${INNER_PORT}"
    environment:
      - ".env"
